body{
    font-family: Haettenschweiler, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.logo{
    color: rgb(56, 72, 165);
    font-size: 24px;
    padding-left: 20px;
    font-weight: 700;
}
ul{
    width: 270px;
    padding: 0;
}